{% extends 'base.html' %}

{% block content %}


  <!DOCTYPE html>
  <html>
  <head>
    <title>Welcome To ChocoStock</title>
    <style>
      h1 {
        font-size: 36px;
        color: #000000; 
        text-align: left; 
      }

      h5 {
        font-size: 18px;
        color: #000000;
      }

      .name {
        font-size: 18px;
        color: #000000;
        text-align: center;
      }

      table {
        border-collapse: collapse;
    }

    th, td {
        text-align: center;
        color: #000000;
        border: 1px solid #000;
    }
      .attribute {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Welcome To ChocoStock</h1>
    
    <h2>Nama : {{ nama_mahasiswa }}</h2>
    <h2>Kelas   : {{ kelas }}</h2>

    <h3>Kamu menyimpan {{ jumlah_item }} item pada aplikasi ini</h3>

    {% if messages %}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %} 

    <table id="table" class="tabel">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Add Amount</th>
        <th>Remove Amount</th>
        <th>Delete Product</th>
        
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.product_name }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.brand }}</td>
        <td> <a href="{% url 'main:remove_amount' item.id %}">
          <button>
              Remove
          </button>
        </a>
      </td>
      <td> <a href="{% url 'main:add_amount' item.id %}">
        <button>
            Add
        </button>
      </a>
    </td>
      <td> <a href="{% url 'main:delete_product' item.id %}">
        <button>
            Delete
        </button>
      </a>
    </td>
      </tr>
      {% endfor %}
    </table>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <br />

    <a href="{% url 'main:logout' %}">
      <button>
          Logout
      </button>
    </a>

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
      </body>
      </html>
{% endblock content %}